<div class="sidebor">
<ul class="nav nav-tabs nav-justified">
	<li role="presentation"><a href = "/static_pages/home" >非公式大会参加</a></li>
	<li role="presentation"><a href =" /static_pages/home_b">非公式大会募集</a></li>
	<li role="presentation" class="active"><a href="/static_pages/home_c">フリーマッチ</a></li>
  <li role="presentation"><a href="/static_pages/home_d">ギルド募集</a></li>
</ul>
<div class="row">
	<aside class="col-md-5">
		<section class="freepost_form">
			<%= render 'shared/freepost_form' %>
		</section>
	</aside>
	<div class="col-sm-4">
		<%= render 'shared/micropost_free' %>
	</div>
</div>
<div class="col-md-5">
		<ol class="freeposts">
			<%= render @freeposts %>
		</ol>
</div>
<div class="col-md-8">
<dic class="point">
	<div class="panel panel-danger">
		<div class="panel-heading">
			広告（もっと課金資金が欲しいあなたは）
		</div>
		<div class="panel-body">
			<p class="kakin">バイト頑張りましょう！</p>
			<a href="https://px.a8.net/svt/ejp?a8mat=2TVNQ7+AS6N76+3E1C+63H8H" target="_blank" rel="nofollow">
      <img border="0" width="468" height="60" alt="" src="https://www23.a8.net/svt/bgt?aid=171118303652&wid=001&eno=01&mid=s00000015816001024000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2TVNQ7+AS6N76+3E1C+63H8H" alt="">

      <p class="kakin">5000ポイントすぐに貰える！YahooJapanカードはおすすめ！</p>

			<a href="https://px.a8.net/svt/ejp?a8mat=2TVNQ6+FQSOOI+38JK+HWI5T" target="_blank" rel="nofollow">
      <img border="0" width="468" height="60" alt="" src="https://www27.a8.net/svt/bgt?aid=171118302952&wid=001&eno=01&mid=s00000015104003007000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=2TVNQ6+FQSOOI+38JK+HWI5T" alt="">
		</div>
	</div>
</div>
</div>
