<dic class="point">
  <div class="panel panel-danger">
  	<div class="panel-heading">
  		掲示板利用上の注意
  	</div>
  	<div class="panel-body">
      ・この掲示板はドラクエライバルズの非公式対戦大会に参加又は募集したい方のためのものです。</br>
      ・参加希望者はtwitter等のSNSを利用して大会開催者と連絡をお願いします。</br>
  	</div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      管理人より
    </div>
    <div class="panel-body">
      このサイトはプログラミング初心者の私が作った初めてのもので機能やデザインにおいて
      拙い部分が多々ありますがご了承ください。このサイトはまだ完成版ではなく改良を続け
      るつもりですのでどうぞよろしくお願い致します。
      twiiterアカウントの方でご要望・ご意見受け付けます。<br>
      twitterID <a href="http://twitter.com/@doraraiunei">@doraraiunei</a>
    </div>
  </div>
</div>
