<div class="sam">
  <h3>非公式大会募集テンプレート</h3>
  <h4>※こちらのテンプレートをコピーし投稿欄に貼り付けると便利です</h4>
  <div class="sam">
      <textarea id="fe_text" name="sample" rows="100" cols="100">
【大会名】
【日時】 　月　日（）　～　
【受付期間】
【予定定員】
【大会形式】
【運営ツール】
【参加条件】
【賞金の有無】
【大会基本ルール】


      </textarea>
      <button class='my_clip_button' data-clipboard-target='fe_text'
      data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>
        <b>コピーする</b>
      </button>
      <script></script>
  </div>
  <h3>非公式大会募集例</h3>
  <div class="samp">
    【大会名】猫猫杯<br>
    【日時】 　2月　22日（木）　22時　～　24時（予定）<br>
    【受付期間】　2月 12日まで 当サイト受付<br>
    【予定定員】　64人<br>
    【大会形式】　トーナメント制（2本先取）<br>
    【運営ツール】当サイト<br>
    【参加条件】　プラチナ以上<br>
    【賞金の有無】itunes or Googleカード　優勝者　100万円分　準優勝者　1500円分<br>
    【twitterアカウント】@doraraiunei　<br>
    【大会基本ルール】<br>
     ・通信切断 充電切れは負けです。ノーコンティニュー場合のみ再試合を行ってください。<br>
     ・部屋は名前が上にある方がお願いします。<br>
     ・大会キャンセルは前日までにお願いします。ドタキャンは今後の参加をお断りさせてもらいます。<br>
     ・大会開始までにデッキレシピ(スクリーンショット)をメッセでお願いします。<br>
     ・使用デッキは1つまでです。
  </div>
</div>
