<div class="panel panel-danger">
  <div class="panel-heading">
    フリーマッチ利用上の注意
  </div>
  <div class="panel-body">
    ・フリーマッチでは自由に対戦条件（ランクや職業）の指定は可能です</br>
    ・フリーマッチ番号からの観戦は許可しています</br>
  </div>
</div>
