<div class = "user_info">
<%= link_to image_for(current_user, size: 50), current_user %>
<h5><%= current_user.name %></h5>
</div>
<div class="inf"><h3> 非公式大会の募集要項の投稿</h3></div>
<h2>※投稿内容を140字以内に収めるとtwitterに投稿されます</h2>
