@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
@media screen and (max-width: 640px) {
	img {
		max-width: 100% ;		/* 横幅の90% */
		height : auto;	/* height 縦幅を自動調整 */
	}
}
body {
  padding-top: 0px;
  background-color: #EEEEEE;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
}



/* typography */




/* header */
.header {
  background-color: #EEEEEE;
}

#logo {
  margin-left:150px;
}
.headersize {
  margin-bottom: 35px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 640px) {
	.headersize {
	  margin-bottom: 0px;
	  background-color: #EEEEEE;
	}
}
* {
  margin: 0;
  padding: 0;
}
.in {
  top-margin: 0;
  font-size:20px;
  float:right;
  padding-left: 0px;
  padding-right: 30px;
  text-decoration: none;
  color: red;
}
/*スマホ　*/
@media screen and (max-width: 640px) {
	.in {
	  top-margin: 0;
	  font-size:20px;
	  float:right;
		margin-top: 0px;
	  padding-left: 0px;
	  padding-right: 30px;
	  text-decoration: none;
	  color: red;
	}
}
/*スマホ*/
.titi {
  top-margin: 0;
	margin-left: 65px;
  font-size:17px;
	float:left;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
   /* PCログイン時 */
	 .titi {
	   top-margin: 0;
	   font-size:22px;
		 float:left;
	 	 margin-right: 400px;
	   text-align: center;
	   text-decoration: none;
	 }
}
p :hover { text-decoration: none;}
div :hover { text-decoration: none;}
@media screen and (min-width: 800px) {
	/* PCログアウト時 */
  .tit {
  top-margin: 0;
  font-size:23px;
  float:left;
  padding-right: 350px;
  text-decoration: none;
  }
}

/*スマホログアウト時*/
@media screen and (max-width: 640px) {
	.tit {
	  top-margin: 0;
	  font-size:17px;
		margin-left: 65px;
	  float:left;
		text-align: center;
	  text-decoration: none;
		border-width: 0px 3px 0px 0px;
		border-style: solid;
		border-color: #cccccc;
		height: 1px;
	}
	.board {
		border-width: 0px 3px 0px 0px;
		border-style: solid;
		border-color: #cccccc;
		height: 1px;
	}
}
.dropdown-toggle {
  float:right;
  font-size:15px;
  margin-right:30px;
}

@media screen and (min-width: 800px) {
   /* PC時 */
	 hr {
	   border-width: 3px 0px 0px 0px;
	   border-style: solid;
	   border-color: #cccccc;
	   height: 1px;
	 }
}

/*　ここからtop */
.nav  {
  font-size:24px;
  border-width: medium ;
}

 body {
    margin: 0;
}

#hoge {
    width: 100%;
}

.sidebor {
  /*  画面縦幅　*/
  height:5000px;
  border-style : solid;
  border-color: #cccccc;
  background-color: #FFFFFF;
  margin-bottom: 100px;
	margin-top: 30px;

}
@media only screen and (max-device-width: 480px) {
 /* スマホ用のCSS */
 .sidebor {
   /*  画面縦幅　*/
   height:5000px;
   border-style : solid;
   border-color: #cccccc;
   background-color: #FFFFFF;
   margin-bottom: 10px;
 }
}
.page {
  padding-left:30px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* エラー処理　*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
/*  user show mypage */
h2 {
  margin-right: 30px;
  float:right;
}

/* 投稿機能 */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.7em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 2px;
      margin-top: 10px;
      float:right;
      padding-right: 600px;

    }
  }
}
.row {
  padding-left: 40px;
  padding-top: 22px;
  margin-bottom: 50px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.field {

}
.center h1 {
  font-size:1.8em;
  margin-bottom: 10px;
}

.count {
  font-size:1.4em;
}
.inf {
  margin-top: 50px;
}
/* home 大会参加　*/
.date {
  padding-top: 10px;
  font-size:0.8em;
  float: right;
}
.kakin {margin-top: 15px;
        font-size:1.3em;
}
/* microposts */

.microposts {
  font-size: 17px;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 3px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 200px;
    margin-bottom: 5px;
  }
}

.field {
  font-size: 1.2em;
}


h2 {
  font-size: 18px;
  color:red;
}


/* freeposts */

.freeposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
 h5 {
   float: right;
   font-size: 25px;
   margin-right: 550px;
 }
/* 投稿の見本ページ  */
 h3 {
  font-size: 25px;
  border-bottom :3px solid #e8e8e8;
}
 h4 {
   font-size: 15px;
   color:red;
 }
.sam textarea {
  font-size: 1.2em;
}
.samp {
  font-size: 1.2em;
  margin-top: 30px;
  border-style: groove;
}
/*　投稿の注意　*/
.point {
  margin-top: 70px;
}
